.Grid {
    display: grid;
    height: 100%;
    grid-template-rows: 45px 1fr;
}

.Grid > * {
    padding: 0px var(--gap);
}

.Grid > :first-child {
    background-color: var(--primary);
    color: var(--color);
}

.Grid > :last-child {
    padding: var(--gap);
}