.Btn {
    background-color: var(--accent);
    color: var(--color);
    padding: var(--gap-s) var(--gap);
    border: none;
    width: fit-content;
}

.Btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.Btn:active {
    opacity: 0.9;
}