.Dropdown {
    position: relative;
    width: fit-content;
}

.Dropdown .trigger {
    border: 1px solid var(--gray);
    padding: var(--gap-s) var(--gap);
}

.Dropdown .trigger:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: var(--gray-h);
}

.Dropdown .trigger:active {
    opacity: 0.9;
    background-color: transparent;
}

.Dropdown .list {
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0px;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    border: 1px solid #e1e1e1;
}   

.Dropdown .list li {
    padding: var(--gap-s) var(--gap);
    border-bottom: 1px solid #e1e1e1;
}

.Dropdown .list li:hover {
    cursor: pointer;
    opacity: 0.8;
    background-color: var(--gray-h);
}


.Dropdown .list li:active {
    opacity: 0.9;
    background-color: transparent;
}