html, body, #root, .App {
    height: 100vh;
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

a.active {
    text-decoration: underline;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}